*{
  box-sizing: border-box;
 
}
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

body{
  display: block;
  margin:auto !important;;
  background: radial-gradient(circle, rgba(143,119,157,1) 0%, rgba(233,192,118,1) 100%);
}
.logo-div{
  display: inline-block;
}
.logo-pic{
  margin: 0;
  mix-blend-mode: lighten;
  width: 100px;
  height: 100px;
  margin-top: -1.5rem;
}
header{
display: inline-flex;
flex-direction: row;
  width: 100vw;
  height: 135px;
  margin: auto;
  
}

.greeting{
  display: inline-block;
  width: 400px;
  height: 50px;
margin-left: 50rem;


background-color: black;
color: aliceblue;


border-radius: 25px;
background: radial-gradient(circle, rgba(143,119,157,1) 56%, rgba(233,192,118,1) 100%);
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

text-align: center;
}
h1{
  
margin-top: 5px;
}
.search__container{
  display: inline-flex;
  flex-direction: column;
  width: 300px;
margin-left:  92rem;
margin-top: -5rem;
 
  color: hsl(230, 100%, 95%);
  background:transparent;

}
@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}




.search__title{
  display:block;
  font-size: 22px;
        font-weight: 900;
        text-align: center;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
   
  font-weight: 300;
  animation: lights 2000ms 750ms linear infinite;
  




      
}

.search__input{
  width: 100%;
  padding: 12px 24px;
  background: linear-gradient(0deg, rgba(255,255,252,0.700717787114846) 0%, rgba(238,181,54,1) 33%)!important;
  

 
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  
  color: #575756;

  
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 3px solid #f6e79c;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
  
.search__input:placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
  }
  
  .search__input:hover,
  .search__input:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
  }
  .navigation-dash{
    display: flex;
    flex-direction: column;
    width: 5rem;
    height:33rem; 
    background: linear-gradient(300deg, rgba(134,72,246,1) 50%, rgba(72,54,147,1) 100%);
    border-radius: 3rem;
    display: inline-flex;
    margin-left: .8rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .notification-icon{
    margin:auto;
    margin-top: 40px;

  }
  .nav-block1,.nav-block2,.nav-block3,.nav-block4{
    display:block;
    width: 5rem;
    height: 6rem;
   
    margin-top: 1rem !important;
    color:aliceblue;
    font-size: smaller;
    text-align: center;

  }
  .nav-block5{
 
  
    width: 5rem;
    height: 1.5rem;
   
    margin-bottom: 2rem !important;
    color:aliceblue;
    font-size: smaller;
    text-align: center;

 

  }

  .blackgirl{
    border-radius: 20px;
  }
  .friends-icon{
   mix-blend-mode:soft-light;
   box-shadow: 1px 1px 2px 1px gold;
   -moz-box-shadow: 1px 1px 2px 1px gold;
   -webkit-box-shadow: 1px 1px 2px 1px gold;
   -khtml-box-shadow: 1px 1px 2px 1px gold;
  }
  .camera-icon{
    mix-blend-mode: soft-light;
    box-shadow: 1px 1px 2px #ccc;
    -moz-box-shadow: 1px 1px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px #ccc;
    -khtml-box-shadow: 1px 1px 2px #ccc;
  }
  .info-div{
    display:flex;
    width: 4.5rem;
    height: 2rem !important;
    background-image: radial-gradient(circle, rgba(143,119,157,1) 0%, rgba(233,192,118,1) 100%)!important;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    font-size: larger;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
    }
   .flex-station{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20rem;
 
    
   }
    .post-section{
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-shrink: 1;
      width: 42rem !important;
      height: 28rem !important;
      background: linear-gradient(300deg, rgba(134,72,246,1) 50%, rgba(72,54,147,1) 100%);
      border-radius: 5rem !important;;
    
      margin-left: 17rem;   
         
    }
    .post-btn{
      display: flex;
      width: 7rem;
      height: 2rem;
      background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(59,50,192,1) 100%)!important;
      margin-left: 32rem;
      margin-top: 1rem;
      border-radius: 10px;
      text-align: center;
      align-items: center;
      justify-content: center;
    color: black !important;
    font-size: larger;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    }
    .post-div{
      margin:auto;

   
  }
   
    
   
    .whatonyourmind{
      display: flex;
      width: 18rem;
      height: 3rem !important;
      background-color: black;
      color: aliceblue;
      text-align: center;
     align-items: center;
     justify-content: center;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      
      border-radius: 25px;
    }

  .post-input{
    display: inline-flex;
    width: 25rem;
    height: 15rem !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    border-radius: 2rem;
    
  }
  input.post-text{
    width: 25rem;
    height: 15rem !important;
    border-style: solid !important;
    border-color: gold !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
    border-radius: 2rem;
    
  }
  .current-events{
    display:flex;
    width:60rem;
    height: 15rem;
    flex-wrap: wrap;
 
    margin-left: 15rem !important;
    justify-content: space-evenly;
    gap: 25px;
  }
  .news{
    width: 18rem !important;
    height: 15rem !important;

    border-style: solid;
    background-image: url(./assets/wormhole.webp);
    background-size: contain !important;
    color: white !important;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

  }
  
  .ad{
    background: transparent !important;
    width: 18rem !important;
    height: 15rem !important;
    background-color: #575756;
    border-style: solid;
    border-color: white !important;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }
  .events{
    display: inline-flex;
flex-direction: column;
    width: 18rem !important;
    height: 15rem !important;
    background:transparent !important;
    border-style: solid;
    background-color: black !important;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: white !important;
    
   
  }
  .current-events button{
    display: flex;
    width: 17.7rem;
    font-size: 18px !important;
    height:3rem !important;
    justify-content:center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius:2;
    margin: auto;
    background: linear-gradient(300deg, rgba(134,72,246,1) 50%, rgba(72,54,147,1) 100%);
    color: aliceblue;
    
  }
#event-btn{
  display: flex;
  width: 17.7rem;
  height:3rem !important;
  justify-content:center;
  align-items: center;
  font-size: 18px !important;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius:2;
  margin: auto;
  background: linear-gradient(300deg, rgba(134,72,246,1) 50%, rgba(72,54,147,1) 100%);
  color: aliceblue;
  letter-spacing: unset;
  
  }
 
  .current-events p{

}
.news-div a{
  display: flex;
  color: white;
  font-size: 12px;
  margin-top: 4rem;
  background-color: black;
 
}
.news-div a:hover{
  color: blue !important;;
}
.date{
  display: inline-flex;
  width: 125px;
  margin:0px;
}
.events .date p{
  display: flex;
  
  margin: 3px;
 
  font-size:10px;
  color: red !important;

}
.calendar{
  display:inline-flex;
  width: 18px;
  height: 18px;
  background-image: url(./assets/calendar.jpg);
  background-size:cover !important;

}
.events p{
  letter-spacing: unset !important;
  margin: 0px;
  background: transparent;

 color: whitesmoke;
 

    font-size: 18px;
}
.family{
  display:inline;
  margin:0px;
  width: 10rem;
  height: 4rem;

}
.image{
  display: inline-flex;
  width: 200px;
  height: 65px;
  background-image: url(./assets/parents.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  
}
.sponsor-div{
  display: flex;
  font-size: 18px !important;
    width: 17.7rem;
    height:3rem !important;
    justify-content:center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius:2;
    margin: auto;
    background: linear-gradient(300deg, rgba(134,72,246,1) 50%, rgba(72,54,147,1) 100%);
    color: aliceblue;
}
.ad-div{
  margin:auto;
  width: 17rem;
  height: 11.3rem;
  display: flex;
 background-image: url(./assets/advert.png);
 background-size: cover;
  


}
.events a:hover{
  color: white !important;
}
.feed-wrapper{
  display: flex;
  flex-direction: column;
  flex-direction: wrap;
  margin-left: 5rem !important;
  margin-top: 40px;
}

.feed-btn{
  width:13rem;  
height: 2rem;
border-style: solid !important;
background: linear-gradient(300deg, rgba(134,72,246,1) 50%, rgba(72,54,147,1) 100%);
margin:auto;
font-size: 22px;
margin-left: 8rem;
background-color: aliceblue;
text-align: center;
border-radius: 10px;
margin-bottom: 4px;
}
.feed-div{
 
width:13rem;  
height: 16rem;
border-radius: 9px;
border-style: solid;
border-color: gold;
overflow-x: hidden;
overflow-y:auto visible !important;
min-width: 200px;
max-height: 16rem;
margin:auto;
font-size: 12px;
margin-left: 8rem;
background-color: aliceblue;


}






.status{
display: inline-flex;
flex-direction: column;
width: 13rem;
height: 6.2rem;
border-radius: 50%;
margin:auto;

}
.stat-pic-1{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
  background-position:center;
  background-size: contain;
  background-image: url(/assets/1.jpg);
}
.stat-pic-2{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
  background-position:center;
  background-size: contain;
  background-image: url(/assets/2.jpg);
}
.stat-pic-3{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
  background-position:center;
  background-size: contain;
  background-image: url(/assets/3.jpg);
}
.stat-pic-4{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
  background-position:center;
  background-size: contain;
  background-image: url(./assets/4.jpg);
}
.stat-pic-5{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
  background-position:center;
  background-size: contain;
  background-image: url(./assets/5.jpg);
}
.stat-pic-6{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
  background-position:center;
  background-size: contain;
  background-image: url(./assets/6.jpg);
}
.stat-pic-7{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
  background-position:center;
  background-size: contain;
  background-image: url(./assets/7.jpg);
}

.feed-div p {
  margin: 1px;
}
.react{
color: rgba(0, 0, 255, 0.841);
  margin: 1px;
  font-weight: 600;


}
footer{
  color:whitesmoke;
}
@media (max-width: 768px)
{
  .feed-wrapper{
    display: none;
  }
}
@media (max-width: 1770px)
{
  .search__container{
 all: unset !important;
 display: inline-flex;
margin:auto !important;
margin-top: -20px !important;
margin-left: 31rem !important;
}
.search__input{
width:30rem;
}
}
  .flex-station{
  margin-left: 10rem;
  }
  .greeting{
    margin-left: 40rem;
  }
}
@media (max-width: 1550px)
{
  .feed-div{
    display: none !important;
  }
}