@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

*{
  box-sizing: border-box;

}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, rgba(143,119,157,1) 0%, rgba(233,192,118,1) 100%);
}

header {
  border-radius: 25px;
  background: radial-gradient(circle, rgba(143,119,157,1) 56%, rgba(233,192,118,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.logo-pic{
  margin: 0;
  mix-blend-mode: lighten;
  width: 100px;
  height: 100px;
  margin-top: -1.5rem;
}
nav {
  background-color: #f0f0f0;
  width: 50%;
  margin: auto;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  padding: 10px;
}

main {
  display: flex;
}

.sales, .customers {
  flex: 1;
  padding: 20px;
}

.sales-data, .customer-data {
  margin-bottom: 10px;
}
