
.fs-4{
  color: #E9C076;
}
body{
  background-image: url(/landingbg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  height: 100vh;

  
}
.header{

}
a{
  color: #E9C076;
  margin-top: 10px;
  margin-left: 100px;
  padding: 15px; 
  
 
 


}

.nav-header{
  display: flex;
  justify-content: center;
  flex-direction: column;


  margin-left: 10px;
 

 
}
main{
  flex: 1;
  overflow: scroll;
}
.flex-container{
  display: flex;
  width: 1000px;
  height: 600px;
  flex-direction: column;
 margin: auto;
 justify-content: center;
 align-items: center;
}
.pictures{
  display: flex;
  width: 1000px;
  height: 300px;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 105px;

  
 


}
.lorem{
  display: flex;
  width: 1000px;
  height: 300px;
  justify-content: space-evenly;
  gap: 65px;
}
p{
  color: #E9C076;
  text-align: center;
  font-size: 14px;
}
.enter-txt{
  font-size: 25px;
 text-align: center;
 color: #E9C076;
}
.enter-btn{
  width: 300px;
  height: 50px;
  background-image: linear-gradient(173deg, rgba(72,54,147,1) 35%, rgba(0,200,255,0.29716524767801855) 100%); 
  cursor: pointer;
}
/*.advertpic{
 
  width: 100px;
  height: 75px;
  background: url("/advert.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;

  
  border: 1px solid rgba(233,192,118,1);

}
/*.adtext{
  color: white !important;
  margin-left: 310px;
  margin-top: 0px;

  right: 20px;
  opacity: .4;*/

.logo{
  width: 100px;
  height: 100px;
  background-image: url("SBLOGO.jpeg");
  background-position: center;

  /*opacity: 0.5;*/

  top: 37px;
  left: 0px;
  border-radius: 50%;
}






.wrapper{
 display:flex;
  width: 600px;
  height: 600px;
  border-style: solid;
  border-color: aliceblue;

  
  
}
.block1, .block2, .block3{
  border-radius: 12px !important;
  opacity: .7;
  flex:1;
margin-top: 50px;

}
.block1{
 
  width: 200px;
  height: 200px;
  border-style: solid;
background-image:linear-gradient(173deg, rgba(72,54,147,1) 35%, rgba(0,200,255,0.29716524767801855) 100%);


}
.block2{
  width: 200px;
  height: 200px;
  border-style: solid;
  background-image:linear-gradient(173deg, rgba(72,54,147,1) 35%, rgba(0,200,255,0.29716524767801855) 100%);
}
.block3{
  width: 200px;
  height: 200px;
  border-style: solid;
  background-image:linear-gradient(173deg, rgba(72,54,147,1) 35%, rgba(0,200,255,0.29716524767801855) 100%);


}

.hannah{
  
  width: 200px;
  height: 200px;
  background-image: url("/hannah.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  margin-left: 0px;
  
 

  opacity: 1;
  
  border-radius: 50%;
  box-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
}


.diego{
  width: 200px;
  height: 200px;
  background-image: url(/diego.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  margin-left: 0px;

  opacity: 1;
  
  border-radius: 50%;
  box-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
  
}
.skydive{
  width: 200px;
  height: 200px;
  background-image: url("/skydiverjpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  margin-left: 0px;

  opacity: 1;
  
  border-radius: 50%;
  box-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.nav-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: static;


  margin-left: 0px;
 

 
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
