
*, *:before, *:after {
  box-sizing: border-box;

}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html,


body {


  background-image:url(./assets/dashboardbg.jpeg);
  background-size: cover;
  background-position:fixed center;
  background-position-y: -50px; 
  background-position-x: 100px;;
 
}
.container{
  display: block;
  margin-left: -113px
}
main{
display:block;
  margin:auto;
}
.logodiv{
  position: absolute;
  top: 25px;
  left:6px;
  mix-blend-mode: lighten;
  
}

.form-signin {
 
  width: 400px;
  max-width: 430px;
  padding: 15px;
  margin: auto;
}

.form-floating:focus-within {
  z-index: 2;
}

 input[type="email"] {
  display: block;
  margin-bottom: 10px;
border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 50px;

  
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 5px #666 inset;
  -moz-box-shadow:0 0 5px #666 inset;
  box-shadow:0 0 5px #666 inset;
  
 
  line-height:25px;
  
}
.form-signin input[type="email"]:hover, .form-signin input[type="password"]:hover{
  border-color: gold;
  border-style: solid;

}

.advert{
  width: 20rem;
  height:25rem;
  background-color: red;
  background-image: url(/assets/advert.png);

}

.blue-container{



background: rgb(107,73,124);

height: 625px;
width: 600px;
bottom: 100px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



}
.icon{
  display: block;
  width: 2rem;
  height: 3rem;
  background-color: #666;
  animation: myfirst 5s linear 2s infinite alternate;
  margin: auto;
}


@keyframes myfirst {
  0%   {background-color:rgb(123, 0, 255); left:0px; top:0px;}
  25%  {background-color:gold; left:2px; top:2px;}
  50%  {background-color:blue; left:2px; top:2px;}
  75%  {background-color:rgb(12, 13, 12); left:0px; top:200px;}
  100% {background-color:rgb(17, 17, 194); left:0px; top:0px;}
}
h1{
  color:black;
  
}
.greeting-text{
text-align: center;
color: rgba(198,149,72,1);
text-shadow:3px 2px 3px rgb(35, 34, 34);



}
.form-signin input[type="password"] {
  display:block;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  bottom: 200px;



  


  width: 350px;
  height: 50px;
  border: 3px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 5px #666 inset;
  -moz-box-shadow:0 0 5px #666 inset;
  box-shadow:0 0 5px #666 inset;
 
  line-height:25px;
}



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.btn-div{
  display: flex;
  flex-direction: column;
  margin: 5px;
 
 


  


}
.mb-3{
  padding:15px;
  margin: 10px;
  margin-left: 100px;
}
.pw{
  margin-left: 100px;
  color: rgb(209, 198, 78);
  text-shadow:3px 2px 3px grey;
}
.remem{
  color:rgb(190, 166, 129);
  text-shadow:3px 2px 3px grey;
  margin:0px;
}



    .custom-btn {
      display: flex;
      justify-content: space-between;
      padding: .25rem 2rem;
     
    
     
      border:none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 5px #666 inset;
  -moz-box-shadow:0 0 5px #666 inset;
  box-shadow:0 0 5px #666 inset;
    height: 55px;
    line-height:25px;
    margin: 15px;
    background-image: linear-gradient(348deg, rgba(68,92,143,0.9009978991596639) 0%, rgba(47,85,164,1) 100%);
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out; 
    }
    .custom-btn:hover {
      cursor: pointer;
      background-color: rgb(11, 11, 55);
      border-left: solid 5px gold;
      border-right: solid 5px gold;
    }
    
    .custom-btn-img {
  
      align-self:center;
      background:transparent;
      width: 25px;
      height:25px;
    }
    p {
    margin:auto;

    }
    



    .gbtn{
  border:none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 5px #666 inset;
  -moz-box-shadow:0 0 5px #666 inset;
  box-shadow:0 0 5px #666 inset;
    height: 55px;
    line-height:25px;
    margin: 10px;
    transition: background-color .3s, box-shadow .3s;
    
    
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;       
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: roboto; sans serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: rgb(22, 11, 11);
    background-repeat: no-repeat;
    background-position:35px 15px;
    }
    
   
button.btn{


  width: 50%;
  height: 25px;

  background-image: linear-gradient(173deg, rgba(72,54,147,1) 35%, rgba(0,200,255,0.29716524767801855) 100%);


 border:none;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 border-radius:5px;
 -webkit-box-shadow:0 0 5px #666 inset;
 -moz-box-shadow:0 0 5px #666 inset;
 box-shadow:0 0 5px #666 inset;
   height: 55px;
   line-height:25px;
   margin-left: auto;
   margin-right: auto;
   margin-top: -2%;
   transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}



button:hover{
  border-left: solid 5px gold;
  border-right: solid 5px gold;
}



footer{
  color:whitesmoke;
}

@media and (max-width:768px)
{
  
}

.logodiv{
  margin-top: -15px;
 }
.blue-container{
  display: block;
margin-top: 250px;
margin-left: auto;
margin-right: auto;
}

@media and (max-width:605px)
{
  
}
