*{
box-sizing:border-box;

}
body{
  background-image: url(/SPACEX.jpg);
  background-position: center;
  background-attachment: fixed;
  color: goldenrod;
  text-shadow:3px 2px 3px grey;
}
.container{
 
}
a:hover{
  color: white;

}

.form-container{
  display: flex;

  flex-direction:column;
  justify-content: center;
  align-items: center;

  width: 650px;
  height:800px;
  background-image: radial-gradient(circle, rgba(236,197,122,0.2539390756302521) 0%, rgba(119,83,131,0.47522759103641454) 100%);
  border-radius: 12px;
  margin:auto;
  margin-top: 200px;
  }
  h1{
    font-size: 32px;
    text-transform: capitalize;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    
  
    color: #33153d;  
    text-shadow:3px 2px 3px #ecc57a;  
}
.left-form{
  margin: 125px;
}

.extra-form{

}
.register{
  
}
.login{
  
}
.form-outline{
  display: flex;
  flex-direction: column;
 
}
input{
  height: 30px;
  margin: 15px;
  background-image: radial-gradient(circle, rgba(236,197,122,0.2539390756302521) 0%, rgba(119,83,131,0.47522759103641454) 100%);
  color: #120e06;
  border-color: goldenrod transparent;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 5px #666 inset;
  -moz-box-shadow:0 0 5px #666 inset;
  box-shadow:0 0 5px #666 inset;
  
}
.create-btn{
color: whitesmoke;
background-color:  rgba(13,1,21,0.7133228291316527);
height: 35px;

}
.create-btn:hover{
  background-color:  rgba(60, 13, 92, 0.713);

}