*{
box-sizing:border-box;
}
body{
  background-image: url(/SPACEX.jpg);
  background-position: center;
  background-attachment: fixed;
}
.container{
 
}

.form-container{
  display: flex;

  flex-direction:column;
  justify-content: center;
  align-items: center;

  width: 650px;
  height:800px;
  background-image: radial-gradient(circle, rgba(236,197,122,0.2539390756302521) 0%, rgba(119,83,131,0.47522759103641454) 100%);
  border-radius: 12px;
  margin:auto;
  margin-top: 200px;
  }
  h1{
    font-size: 32px;
    text-transform: capitalize;
    text-align: center;
    margin: auto;
    
  
    color: #33153d;  
    text-shadow:3px 2px 3px #ecc57a;  
}
.left-form{
  margin: 125px;
}

.extra-form{

}
.register{
  
}
.login{
  
}
.form-outline{
  display: flex;
  flex-direction: column;
 
}
input{
  height: 30px;
  margin: 15px;
  background-image: radial-gradient(circle, rgba(236,197,122,0.2539390756302521) 0%, rgba(119,83,131,0.47522759103641454) 100%);
  color: #120e06;
  border-color: goldenrod transparent;
  border-radius: 10px;
}